<form class="official-form">
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <mat-label>Reset Password</mat-label>
        <input matInput placeholder="Enter First Name" value="">
      </mat-form-field>
    </div>
    
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <mat-label>Enter New Password</mat-label>
        <input matInput placeholder="Enter Last Name" value="">
      </mat-form-field>
    </div>
    
    <button mat-button color="primary">Confirm New Passwor</button>
  </form>
  
    
