<form class="official-form">
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Enter First Name" value="">
      </mat-form-field>
    </div>
    
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Enter Last Name" value="">
      </mat-form-field>
    </div>
    
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <mat-label>Forgot password</mat-label>
        <input matInput placeholder="Enter Username" value="">
      </mat-form-field>
    </div>
    
   <button mat-button color="basic">Login</button>
  </form>
  
